* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f1f5f2;
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background: #12372a;
  padding: 25px 15px;
  position: fixed;
}

.sidebar h2 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar button {
  width: 100%;
  padding: 14px;
  margin: 7px 0;
  border: none;
  border-radius: 8px;
  background: #1f5c45;
  color: white;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  background: #2d805e;
}

.main {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 30px;
}

header {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
}

header h1 {
  color: #12372a;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.section h2 {
  margin-bottom: 20px;
  color: #12372a;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.card h3 {
  color: #555;
}

.card p {
  font-size: 32px;
  margin-top: 15px;
  color: #16834d;
  font-weight: bold;
}

form {
  background: white;
  padding: 25px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  outline: none;
}

input:focus {
  border-color: #16834d;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 7px;
  background: #16834d;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #11683d;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #ddd;
}

#householdResult,
#activityResult,
#challengeResult,
#participationResult {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #12372a;
  color: white;
}

@media(max-width: 800px) {

  .sidebar {
    width: 180px;
  }

  .main {
    margin-left: 180px;
    width: calc(100% - 180px);
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  form {
    grid-template-columns: 1fr;
  }
}